body {
  background-color: #0f0f0f;
  color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.card-row {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.media-card {
  width: 100%;
  aspect-ratio: 9 / 17;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.media-card:hover {
  transform: translateY(-8px);
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.card-image {
  width: 100%;
  aspect-ratio: 1 / 1.51;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  text-align: center;
  padding: 12px 10px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  font-style: bold;
  margin-bottom: 0.5rem;
  line-height: 1.2em;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.card-meta {
  color: #bbb;
  font-size: 0.9rem;
}

/* Tablet */
@media (max-width: 768px) {
  .card-row {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .card-meta {
    font-size: 0rem;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .card-row {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
  }
  .card-info {
    padding: 10px 8px;
  }
  .card-meta {
    font-size: 0em;
  }
}
.close-button {
  color: white;
  float: right;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover {
  color: #bbb;
}
/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #1a1a1a;
  margin: 10% auto;
  padding-right: 10px;
  border-radius: 20px;
  width: 53%;
  height: 65%;
  color: white;
}

#modal-body {
  height: 100%;
  display: flex; /* Align image and text side by side */
}

#modal-body img {
  margin: 0px;
  border-radius: 20px 0 0 20px;
  width: auto; /* Maintain aspect ratio */
  height: 100%; /* Match the height of modal-content */
  object-fit: cover; /* Ensure the image covers the area */
}

#modal-body h2 {
  margin-top: 35px;
  font-size: 18px;
}

